/* Error: Undefined mixin.
 *     ,
 * 154 | /   @include responsive-tablet {
 * 155 | |     max-width: 140px;
 * 156 | |     min-height: 100px;
 * 157 | |     padding: $spacing-sm;
 * 158 | | 
 * 159 | |     img {
 * 160 | |       max-width: 110px;
 * 161 | |     }
 * 162 | \   }
 *     '
 *   scss\styles.scss 154:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 154 \2502  \250c    @include responsive-tablet {\a 155 \2502  \2502      max-width: 140px;\a 156 \2502  \2502      min-height: 100px;\a 157 \2502  \2502      padding: $spacing-sm;\a 158 \2502  \2502  \a 159 \2502  \2502      img {\a 160 \2502  \2502        max-width: 110px;\a 161 \2502  \2502      }\a 162 \2502  \2514    }\a     \2575 \a   scss\\styles.scss 154:3  root stylesheet";
}
